PORT=3000

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=sifang029029@
DB_NAME=user_system_db

JWT_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MSwidXNlcm5hbWUiOiJhZG1pbiIsImlhdCI6MTc3NDI1ODU2MSwiZXhwIjoxNzc0ODYzMzYxfQ.TD7EfhrqboKVCXKr40NhRvpVDx3IyFBxR7ukgh5Hkn0